html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 background: url(background.gif);   
 background-repeat: no-repeat;
 background-size: cover;
 background-position-y: center;
 
}

#main-wrapper{
    background: white;
    width: 83rem;
    margin: auto;
    transform: translateY(12rem);
    border: 2px solid red;
}
#main-container{
    box-shadow: 2px;
    background-color: gray;
    /* border: 2px solid red; */
    
    padding: 2rem;

}