#game-wrapper{
   
    width: 85vw;
    height: 80vh;
    margin: auto;
    transform: translateY(8rem);
    transition: opacity 2s linear;
  
}
#game-container{
    /* background-color: black; */
    /* border: 3px solid gray; */
    border-radius: 0.8rem;
    padding-bottom: 4rem;
    height: 100%;
    width: 100%;
}

.countdown-div{
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(63,94,251,1)), to(rgba(70,135,252,1)));
    background: linear-gradient(0deg, rgba(63,94,251,1) 0%, rgba(70,135,252,1) 100%);
    -webkit-box-shadow: rgba(63,94,251,0.2) 0px 40px 29px 0px;
    box-shadow: rgba(63,94,251,0.2) 0px 40px 29px 0px;
    width: 28rem;
    height: 6rem;
    transform: translate(-50%, -7rem);
    position: absolute;
    left: 50%;
    border-radius: 4rem;
    display: flex;
    justify-content: end;
    padding-right: 3rem;
    padding: 1rem 3rem 1rem 0rem;
    transition: opacity 0.5s linear;
}

.signal{
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    background-color: black;
    margin-left: 0.3rem;
    transition: color 0.5s linear;
    
}

/* #signal-red{
    background-color: red;
}
#signal-yellow{
    background-color: yellow;
}
#signal-green{background-color: rgb(0, 255, 34);} */

/* ################### live-timer-styling ################  */
#live-timer-div{
    width: 12rem;
    height: 5rem;
    background-color: red;
    color: white;
    font-size: 4rem;
    border-radius: 1rem;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
}
/* ################### COUNTER DIV ################  */
#counter-div{
    text-align: end;
    margin-right: 18rem;
}
#counter-div p{
    background-color: #5bb700;
    margin-top: 4rem;
    padding: 2rem 4rem;
    width: fit-content;
    font-size: 2rem;
    border-radius: 2rem;
    display: inline-block;
}
/* ############################################################### */
#date-question-div-wrapper{
    width: 20rem;
    /* height: 7rem; */
    margin: 8rem auto 0rem;
    border-radius: 1rem;
    padding: 2rem 3rem;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(63,94,251,1)), to(rgba(70,135,252,1)));
    background: linear-gradient(0deg, rgba(63,94,251,1) 0%, rgba(70,135,252,1) 100%);
    -webkit-box-shadow: rgba(63,94,251,0.2) 0px 40px 29px 0px;
    box-shadow: rgba(63,94,251,0.2) 0px 40px 29px 0px;
}
#date-question-div{
    width: 100%;
    height: 100%;
    font-size: 3rem;
    margin: auto;
}

/* ###################### ANSWER STYLING ########################  */
#answer-div{
    display: flex;
    margin: 5rem auto 1rem;
    justify-content: center;
    flex-wrap: wrap;
}
.btn{
    width: 6rem;
    height: 6rem;
    border-radius: 6rem;
    background-color: #5bb700;
    padding: 0.5rem;
    text-align: center;
    font-size: 4rem;
    margin: 1rem;
    transition: transform 0.2s ease-in-out;
}
/* .btn:active{
    transform: translateY(1rem);
} */

/* ################### MEDIA QUERIES ######################  */
@media (max-width:550px)
{
    #live-timer-div{
        width: 17rem;
        padding: 2rem;
        height: 8rem;
        font-size: 4rem;
        border-radius: 1rem;
    }
    #counter-div p{
        padding: 3rem 5rem;
        font-size: 3rem;
    }
    #date-question-div-wrapper{
        width: 20rem;
        padding: 3rem 3rem;
    }
    .btn{
        width: 11rem;
        height: 11rem;
        border-radius: 11rem;
        font-size: 8rem;
    }
}