#game-wrapper{
   
    width: 85vw;
    height: 80vh;
    margin: auto;
    transform: translateY(8rem);
  
}
#game-container{
    background-color: black;
    border: 3px solid gray;
    border-radius: 0.8rem;
    padding-bottom: 4rem;
    height: 100%;
    width: 100%;
}

.countdown-div{
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(63,94,251,1)), to(rgba(70,135,252,1)));
    background: linear-gradient(0deg, rgba(63,94,251,1) 0%, rgba(70,135,252,1) 100%);
    -webkit-box-shadow: rgba(63,94,251,0.2) 0px 40px 29px 0px;
    box-shadow: rgba(63,94,251,0.2) 0px 40px 29px 0px;
    width: 28rem;
    height: 6rem;
    transform: translate(32rem, 11rem);
    border-radius: 4rem;
    display: flex;
    justify-content: end;
    padding-right: 3rem;
    padding: 1rem 3rem 1rem 0rem;
    transition: opacity 0.5s linear;
}

.signal{
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    background-color: black;
    margin-left: 0.3rem;
    
}

/* #signal-red{
    background-color: red;
}
#signal-yellow{
    background-color: yellow;
}
#signal-green{background-color: rgb(0, 255, 34);} */

/* ################### live-timer-styling ################  */
#live-timer-div{
    width: 12rem;
    height: 5rem;
    background-color: red;
    color: white;
    font-size: 4rem;
    border-radius: 1rem;
    text-align: center;
    margin: auto;
}
/* ############################################################### */
#date-question-div-wrapper{
    width: 20rem;
    /* height: 7rem; */
    margin: 8rem auto 0rem;
    border-radius: 1rem;
    padding: 2rem 3rem;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(63,94,251,1)), to(rgba(70,135,252,1)));
    background: linear-gradient(0deg, rgba(63,94,251,1) 0%, rgba(70,135,252,1) 100%);
    -webkit-box-shadow: rgba(63,94,251,0.2) 0px 40px 29px 0px;
    box-shadow: rgba(63,94,251,0.2) 0px 40px 29px 0px;
}
#date-question-div{
    width: 100%;
    height: 100%;
    font-size: 3rem;
    margin: auto;
}
