
#result-wrapper , #high-score-wrapper{
   
    width: fit-content;
    height: 80vh;
    margin: auto;
    transform: translateY(8rem);
    transition: opacity 2s linear;
    overflow: hidden;
  
}
#result-container , #high-score-container{
    background-color: black; 
    border: 3px solid gray;
    border-radius: 0.8rem;
    padding-bottom: 12rem;
    height: 100%;
    width: fit-content;
    overflow: scroll;
}

table, th, td {
    border: 1px solid rgb(255, 255, 255);
    font-size: 2rem;
    border-collapse: collapse;
  }
  th,td{
    padding: 2rem;
}
th{
    color: bisque;
    background-color: brown;
}

#table-heading , #high-score-table-heading {
    position: sticky;
    top: 0;
}
 /* ############## stat-go-back-wrapper ###########  */
 #stat-go-back-wrapper , #high-score-go-back-wrapper{
     display: flex;
     justify-content: space-between;
     /* position: absolute;
     top: -5rem;
     left: 0rem; */
 }


/* ################ go back btn ##################  */
#result-go-back-btn , #high-score-go-back-btn {
    /* margin-top: 2rem;
    margin-left: 16rem; */
    /* position: absolute;
    top:-5rem;
    right: 0rem; */
    display: inline-block;
    font-size: 16px;
    padding: 1rem 3.3rem;
    height: fit-content;
    -webkit-transform: perspective(200px) rotateX(3deg);
            transform: perspective(200px) rotateX(3deg);
    color: white;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(63,94,251,1)), to(rgba(70,135,252,1)));
    background: linear-gradient(0deg, rgba(63,94,251,1) 0%, rgba(70,135,252,1) 100%);
    -webkit-box-shadow: rgba(63,94,251,0.2) 0px 40px 29px 0px;
            box-shadow: rgba(63,94,251,0.2) 0px 40px 29px 0px;
    will-change: transform;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-bottom: 2px solid rgba(70,135,252,1);
   }
   
   #result-go-back-btn:hover , #high-score-go-back-btn:hover {
    -webkit-transform: perspective(180px) rotateX(8deg) translateY(2px);
            transform: perspective(180px) rotateX(8deg) translateY(2px);
   }
   
   #result-go-back-btn:active , #high-score-go-back-btn:active {
    -webkit-transform: perspective(170px) rotateX(25deg) translateY(5px);
            transform: perspective(170px) rotateX(25deg) translateY(5px);
   }

   /* ############# tick and cross Symbol ###############  */
   .tick-symbol {
    background-color: #00d300;
    font-size: 4rem;
   }
   .cross-symbol{
       background-color: red;
   }

   /* ################## STATS DIV #########################  */
   #stats-div {
       /* position: absolute;
       top: -5rem;
       left:0rem; */
       display: flex;
       width: 60%;
       flex-wrap: wrap;
   }
   .stat-item{
       font-size: 3rem;
       margin: 0rem 2rem;
   }
   #attempted-div{
       color: bisque;
   }
   #correct-attempt-div{
    color: #00ff00;
    
   }
   #wrong-attempt-div{
   color: red;
   }
   #accuracy-div{
    color: aqua;
   }

   /* ############## editable name field ################  */
   #enter-name-td{
       padding: 0rem;
   }
   #enter-name-field{
        background: none;
        border: none;
        outline: none;
        color: bisque;
        font-size: 2rem;
        width: 14rem;
   }
   /* ############# hurrah message ##############  */
   #message-div{
    width: 60%;
    font-size: 2.5rem;
    /* color: bisque;
    color: aqua; */
    opacity: 0;
    transition: transform 0.3s linear;
   }

   
   #high-score-error-message{
    font-size: 2rem;
    margin: 3rem;
    display: none;
   }