html{
    font-size: 62.5%;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 color: white;
 /* border: 2px solid red; */

}
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
